user: 'brian'
services:
  main:
    url: 'https://vmpooler.mycompany.net/api/v1'
    token: 'tokenstring'
  alternate:
    url: 'https://vmpooler.alternate.net/api/v1'
    token: 'alternate-tokenstring'
